{% extends 'mainSite/base.html' %}
{% load static %} 
{% block title %}KeysForAll{% endblock %}

{% block content %}
<main>
  <div class="container">
    <div class="row mt-5">
      <h1 class="text-center">{{ category.name }}</h1>

        {% if games %}
        {% for el in games %}
        <div class="col-3 center">
          <a href="{% url 'choose_product' el.id %}">
          <div class="article-card">
            <div class="content">
              <p class="title ts">{{el.name}}</p> <br> <br> <br>
              <p class="title ts text-end">Цена: {{el.price}} р.</p>
            </div>
            <img src="{% if el.image %} {{ el.image.url }} {%else%} {% static 'images/logo.png' %} {%endif%}" alt="article-cover" />
          </div>
        </a>
        </div>
        {% endfor %}
        {% else %}
          <h1>Категорий нет!</h1>
        {% endif %}

          
    </div>

</div>
</main>
{% endblock %}
